################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
*.user
*.suo
bin/
obj/
*.dll
*.pdb
*.exe
*.cache
*.csproj.user